USE [F0410]
GO
/****** Object:  StoredProcedure [dbo].[Proc_NextToVb_Log]    Script Date: 10.08.2026 09.32.42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/** ===========================================================
   Proc_NextToVb_Log supplerer loggtabellen med data samt ser etter feil.
   Versjon 2026-08-10 - Kjører i batcher for å forhindre låser i API


   Nødvendig Index:
   CREATE NONCLUSTERED INDEX IX_N2VB_FreeInf3_Enrich ON dbo.N2VB_FreeInf3 ( FrInfTp, CreDt, PK );

   Sjekk at vi ikke låser opp systemet
   SELECT session_id, wait_type, blocking_session_id FROM sys.dm_exec_requests WHERE wait_type LIKE 'LCK%';

   
   Kjør dette dersom jobben er avbrutt / krasjet, og du vil kjøre på nytt:

   		EXEC sys.sp_set_session_context
			 @key = N'Proc_NextToVb_Log_Running',
			 @value = NULL;
		EXEC Proc_NextToVb_Log

   ===========================================================    **/
ALTER PROCEDURE [dbo].[Proc_NextToVb_Log]
AS
BEGIN
    SET NOCOUNT ON;

----------------------------------------------------------------
--Sjekker om den kjører fra før
----------------------------------------------------------------

			DECLARE @AppLockResult int; 
			DECLARE @HasAppLock bit = 0;
			DECLARE @LockResource nvarchar(255);

			SET @LockResource = DB_NAME() + N'.dbo.Proc_NextToVb_Log';

			IF TRY_CONVERT(int, SESSION_CONTEXT(N'Proc_NextToVb_Log_Running')) = 1 RETURN;

			EXEC sys.sp_set_session_context @key = N'Proc_NextToVb_Log_Running', @value = 1;

			BEGIN TRY

			EXEC @AppLockResult = sys.sp_getapplock
				 @Resource = @LockResource,
				 @LockMode = 'Exclusive',
				 @LockOwner = 'Session',
				 @LockTimeout = 0;

				 Print 'Applock ' + Convert (varchar(10),@AppLockResult)


			IF @AppLockResult < 0
			BEGIN
				EXEC sys.sp_set_session_context
					 @key = N'Proc_NextToVb_Log_Running',
					 @value = NULL;

				RETURN;
			END;

			SET @HasAppLock = 1;
			RAISERROR('APPLOCK ACQUIRED',0,1) WITH NOWAIT;

    ----------------------------------------------------------------
    -- Variabler
    ----------------------------------------------------------------
DECLARE
    @Today     INT,
    @Yesterday INT,
    @StartDate INT,
	@TruncateLogDate INT,
	@TruncatePk INT,
    @LocalPath NVARCHAR(400),
    @UNCPath   NVARCHAR(400),
	@dB    NVARCHAR(50),
	@InstallationId   NVARCHAR(50),
	@T DATETIME2(3),
	@RunMaxPK INT;

SET @T = SYSDATETIME();
SET @Today     = CONVERT(INT, CONVERT(CHAR(8), GETDATE(), 112));
SET @Yesterday = CONVERT(INT, CONVERT(CHAR(8), DATEADD(DAY, -1, GETDATE()), 112));
SET @StartDate = CONVERT(INT, CONVERT(CHAR(8), DATEADD(MONTH, -1, GETDATE()), 112));
--SET @StartDate =  CONVERT(INT, CONVERT(CHAR(8), DATEADD(MONTH, -0, GETDATE()), 112));
SET @TruncateLogDate =  CONVERT(INT, CONVERT(CHAR(8), DATEADD(MONTH, -3, GETDATE()), 112));
SELECT @RunMaxPK = MAX(PK) FROM dbo.N2VB_FreeInf3;

    ----------------------------------------------------------------
    -- Databasenummer for å hente korrekt InstalationId fra VBSYS variabler
    ----------------------------------------------------------------
SET @db =
    CONVERT(nvarchar(50),
        CAST(
            REPLACE(
                TRANSLATE(
                    DB_NAME(),
                    'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz',
                    REPLICATE(' ', 52)
                ),
                ' ',
                ''
            ) AS int
        )
    );

SELECT @InstallationId = NmSp
	FROM VBSYS..StrSVar
	WHERE Val1 = @db
	AND VarNm = 'BaseCatalogNoteNm';


SELECT
		@LocalPath = Val1,
		@UNCPath   = Val2
	FROM VBSYS..StrSVar
	WHERE NmSp = @InstallationId
	  AND VarNm = 'Visma.FirmNo';


----------------------------------------------------------------
-- MARK HTTP Batch
----------------------------------------------------------------

DECLARE @MarkRows int;
DECLARE @MarkBatchNo int = 0;
DECLARE @MaxMarkBatches int = 10000;
DECLARE @MarkStart datetime2(3);
DECLARE @Desc varchar(100);

SET @MarkStart = SYSDATETIME();

WHILE @MarkBatchNo < @MaxMarkBatches
BEGIN
    SET @T = SYSDATETIME();

    ;WITH BatchRows AS
    (
        SELECT TOP (10000) PK
        FROM dbo.N2VB_FreeInf3 WITH
        (
            INDEX(IX_N2VB_FreeInf3_FrInfTp_Txt3_CreDt_PK),
            READPAST,
            UPDLOCK,
            ROWLOCK
        )
        WHERE FrInfTp = 0
          AND Txt3 LIKE 'HTTP%'
          AND CreDt >= @StartDate
		  AND PK <= @RunMaxPK
        ORDER BY Txt3, CreDt, PK
    )
    UPDATE N
       SET FrInfTp = 1
    FROM dbo.N2VB_FreeInf3 N WITH (ROWLOCK)
    INNER JOIN BatchRows B
        ON B.PK = N.PK
    OPTION (RECOMPILE);

    SET @MarkRows = @@ROWCOUNT;

    IF @MarkRows = 0
        BREAK;

    SET @MarkBatchNo += 1;
    SET @Desc = 'MARK HTTP batch ' + CAST(@MarkBatchNo AS varchar(10));

    EXEC dbo.PrintElapsedTime
         @Description = @Desc,
         @StartTime   = @T,
         @Rows        = @MarkRows;
END;

EXEC dbo.PrintElapsedTime
     @Description = 'MARK HTTP total',
     @StartTime   = @MarkStart,
     @Rows        = NULL;

----------------------------------------------------------------
-- ENRICH Batch
----------------------------------------------------------------

DECLARE @Rows int;
DECLARE @BatchNo int = 0;
DECLARE @MaxEnrichBatches int = 10000;
DECLARE @EnrichStart datetime2(3);

SET @EnrichStart = SYSDATETIME();

WHILE @BatchNo < @MaxEnrichBatches
BEGIN
    SET @T = SYSDATETIME();

    ;WITH BatchRows AS 
	( SELECT TOP (10000) PK FROM dbo.N2VB_FreeInf3 
			WITH ( INDEX(IX_N2VB_FreeInf3_Enrich), READPAST, UPDLOCK, ROWLOCK ) 
		WHERE FrInfTp = 1 AND 
				CreDt >= @StartDate 
		ORDER BY CreDt, PK 
	)
    UPDATE NLOG
       SET
            FrInfTp = 2,

            Gr5 =
                CASE
                    WHEN NLOG.Gr5 = 0
                     AND (NLOG.Txt3 LIKE '%outbound%'
                       OR NLOG.Txt3 LIKE '%//hub%')
                        THEN 2
                    WHEN NLOG.Gr5 = 0
                        THEN 1
                    ELSE NLOG.Gr5
                END,

            Gr8 =
                CASE
                    WHEN NLOG.Gr8 = 0
                     AND NLOG.NoteNm LIKE '%resp.txt'
                        THEN 1
                    WHEN NLOG.Gr8 = 0
                        THEN 2
                    ELSE NLOG.Gr8
                END,

            Txt4 =
                CASE
                    WHEN NLOG.Txt4 = ''
                     AND NLOG.Txt3 LIKE 'HTTP%'
                     AND CHARINDEX('/', NLOG.Txt3) > 0
                        THEN RIGHT(
                               NLOG.Txt3,
                               CHARINDEX('/', REVERSE(NLOG.Txt3)) - 1
                             )
                    ELSE NLOG.Txt4
                END,

            R12 =
                CASE
                    WHEN LEN(LTRIM(RTRIM(NLOG.R12))) = 0
                     AND R12_Inf.RNo IS NOT NULL
                        THEN R12_Inf.RNo
                    ELSE NLOG.R12
                END,

            R7 =
                CASE
                    WHEN LEN(LTRIM(RTRIM(NLOG.R7))) = 0
                     AND R7.RNo IS NOT NULL
                        THEN R7.RNo
                    ELSE NLOG.R7
                END,

            Gr11 =
                CASE
                    WHEN NLOG.Gr11 = 0
                     AND NLOG.PictFNm <> ''
                        THEN ISNULL(T.TxtNo, 99)
                    ELSE NLOG.Gr11
                END,

            NoteNm =
                CASE
                    WHEN @LocalPath IS NOT NULL
                     AND @UNCPath IS NOT NULL
                     AND @UNCPath <> ''
                     AND NLOG.NoteNm LIKE @LocalPath + '%'
                        THEN REPLACE(
                                NLOG.NoteNm,
                                @LocalPath,
                                @UNCPath
                             )
                    ELSE NLOG.NoteNm
                END,

				WebPg =
					CASE
						WHEN  NLOG.NoteNm <> ''
							AND NLOG.WebPg = ''
						THEN 'http://em-p-app.em1.local:8082/view?file=' + REPLACE(NLOG.NoteNm, '', '%5C')
					ELSE NLOG.WebPg
				END



    FROM dbo.N2VB_FreeInf3 NLOG

    INNER JOIN BatchRows B
        ON B.PK = NLOG.PK

    LEFT JOIN dbo.R12 R12_Inf
        ON NLOG.Txt1 <> ''
       AND NLOG.Txt1 = R12_Inf.Inf

    LEFT JOIN dbo.R7 R7
        ON NLOG.Txt2 <> ''
       AND NLOG.Txt2 = R7.PictFNm

    OUTER APPLY
    (
        SELECT TOP (1)
            Txt.TxtNo
        FROM dbo.Txt Txt
        WHERE Txt.TxtTp = 201
          AND Txt.Lang  = 44
          AND NLOG.PictFNm <> ''
          AND NLOG.PictFNm LIKE '%' + Txt.Txt + '%'
        ORDER BY Txt.TxtNo DESC
    ) T;

    SET @Rows = @@ROWCOUNT;

    IF @Rows = 0
        BREAK;

    SET @BatchNo += 1;

    SET @Desc =
        'ENRICH batch ' + CAST(@BatchNo AS varchar(10));

    EXEC dbo.PrintElapsedTime
         @Description = @Desc,
         @StartTime   = @T,
         @Rows        = @Rows;
END

EXEC dbo.PrintElapsedTime
     @Description = 'ENRICH total',
     @StartTime   = @EnrichStart,
     @Rows        = NULL;

SET @T = SYSDATETIME();

    ----------------------------------------------------------------
    -- TAGGER LØPSKE TRANSAKSJONER (>15 logger samme dag)
    ----------------------------------------------------------------
    ;WITH R12L AS (
        SELECT
            R12,
            COUNT(*) AS Antall
        FROM N2VB_FreeInf3
        WHERE R12 <> ''
         -- AND CreDt >= @Today
		  AND PK <= @RunMaxPK
        GROUP BY R12
        HAVING COUNT(*) > 15
    )
    UPDATE R
    SET R.Gr11 = L.Antall
    FROM R12 R
    INNER JOIN R12L L
            ON R.Rno = L.R12
    WHERE
        R.Gr11 <> L.Antall
        AND R.ChPrc = 0
        AND R.LckSt = 0
        AND R.ChDt >= @StartDate;


EXEC dbo.PrintElapsedTime
     'RUNAWAY',
     @T;

SET @T = SYSDATETIME();

    ----------------------------------------------------------------
    -- DUPLIKATE PId (Nm) I R12
    ----------------------------------------------------------------
    ;WITH R12Dupl AS (
        SELECT
            Nm,
            COUNT(*) AS Antall
        FROM R12
        WHERE Nm <> ''
        GROUP BY Nm
        HAVING COUNT(*) > 1
    )
UPDATE R
SET R.Gr12 = D.Antall
FROM R12 R
INNER JOIN R12Dupl D
        ON D.Nm = R.Nm
WHERE
    R.ChDt >= @StartDate
    AND ISNULL(R.Gr12,-1) <> D.Antall;


EXEC dbo.PrintElapsedTime
     'DUPLICATE R12',
     @T;

SET @T = SYSDATETIME();

    ----------------------------------------------------------------
    -- DUPLIKATE POSTINGER (VoTp = 1000)
    ----------------------------------------------------------------
    ;WITH UpdVoDupl AS (
        SELECT
            U.R12,
            COUNT(*) / 2 AS Antall
        FROM UpdVo U
        INNER JOIN R12 R
                ON R.Rno = U.R12
        WHERE
            U.R12 <> ''
            AND U.VoTp = 1000
            AND U.CreDt >= @StartDate
            AND R.Nm <> ''
        GROUP BY U.R12
        HAVING COUNT(*) / 2 > 1
    )
UPDATE R
SET R.Gr2 = D.Antall
FROM R12 R
INNER JOIN UpdVoDupl D
        ON D.R12 = R.RNo
WHERE
    R.ChPrc = 0
    AND R.LckSt = 0
    AND R.ChDt >= @StartDate
    AND ISNULL(R.Gr2,-1) <> D.Antall;

	
EXEC dbo.PrintElapsedTime
     'DUPLICATE VoTp 1000',
     @T;

SET @T = SYSDATETIME();

    ----------------------------------------------------------------
    -- DUPLIKATE REMIT-POSTINGER (VoTp = 1001)
    ----------------------------------------------------------------
    ;WITH UpdVoRemDupl AS (
        SELECT
            U.R12,
            COUNT(*) AS Antall
        FROM UpdVo U
        INNER JOIN R12 R
                ON R.Rno = U.R12
        WHERE
            U.R12 <> ''
            AND U.VoTp = 1001
            AND U.Pri  = 0
            AND R.Nm <> ''
            AND R.Gr NOT IN (2060,14348,35328,12300,6156)
            AND U.CreDt >= @StartDate
        GROUP BY U.R12
        HAVING COUNT(*) > 1
    )
UPDATE R
SET R.Gr2 = D.Antall
FROM R12 R
INNER JOIN UpdVoRemDupl D
        ON D.R12 = R.Rno
WHERE
    R.ChPrc = 0
    AND R.LckSt = 0
    AND R.ChDt >= @StartDate
    AND ISNULL(R.Gr2,-1) <> D.Antall;

	
EXEC dbo.PrintElapsedTime
     'DUPLICATE VoTp 1001',
     @T;

SET @T = SYSDATETIME();


    ----------------------------------------------------------------
    -- LOGG KJØRINGSTIDSPUNKT
    ----------------------------------------------------------------
    UPDATE StrFVar
    SET Val1 = GETDATE(), LckSt=0, Val2='ProcRun'
    WHERE VarNm = 'RunLog'
      AND NmSp  = 'Amesto';

    ----------------------------------------------------------------
    -- Avslutter alenekontroll
    ----------------------------------------------------------------

		IF @HasAppLock = 1
		BEGIN
			EXEC sys.sp_releaseapplock
				 @Resource = 'F0410.dbo.Proc_NextToVb_Log',
				 @LockOwner = 'Session';
		END;

		EXEC sys.sp_set_session_context
			 @key = N'Proc_NextToVb_Log_Running',
			 @value = NULL;


		END TRY BEGIN CATCH

		IF @HasAppLock = 1
		BEGIN
		RAISERROR('APPLOCK RELEASED',0,1) WITH NOWAIT;
			EXEC sys.sp_releaseapplock
				 @Resource = @LockResource,
				 @LockOwner = 'Session';
		END;

		EXEC sys.sp_set_session_context
			 @key = N'Proc_NextToVb_Log_Running',
			 @value = NULL;

		THROW;


		END CATCH


END